.App {
  text-align: center;
}
h1 {
  padding:10px;
}
.container {
  width: 40%;
  margin: auto;

}
.form-container {
  width:40%;
  margin: auto;
  padding: 10px;
}
.cardheader {
  background-color: darkblue;
  border-radius: 20px;
  color: white;
  font-size: large;
}